Repository UncleRus/esp-idf-lib, pull requests merged in 2022-12, with the labels that each got.

#483 bugfix: add esp-idf 5.x build to CI
  .github/workflows/build.yml
Labels: area:ci

#487 Fix signed division of HX711 average read
  components/hx711/hx711.c
Labels: bugfix, area:components, area:components:hx711

#488 add esp32c2 support
  components/esp_idf_lib_helpers/esp_idf_lib_helpers.h
Labels: area:components, area:components:esp_idf_lib_helpers

#490 bugfix: fix #489
  components/noise/noise.h
Labels: area:components, area:components:noise
