Repository UncleRus/esp-idf-lib, pull requests merged in 2022-06, with the labels that each got.

#335 ci: add pr-labeler GitHub Actions workflow
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
  CONTRIBUTING.md
Labels: ci

#338 ci: introduce release-drafter GitHub Actions workflow
  .github/release-drafter.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
  CONTRIBUTING.md
Labels: ci

#361 ci: remove pull_request from labeler.yml
  .github/workflows/labeler.yml
Labels: ci

#363 ci: sync labels in PRs
  .github/labeler.yml
Labels: ci, area:ci

#368 ci: add a labeler to label PRs by workflow conclusion
  .github/workflows/labeler-by-workflow-status.yml
Labels: ci, area:ci

#370 ci: fix comments
  .github/workflows/labeler-by-workflow-status.yml
Labels: ci, area:ci

#371 ci: introduce Actions on PR by label workflow
  .github/workflows/actions-on-pr-by-label.yml
Labels: ci, area:ci

#372 doc: document how workflows are designed
  .github/labeler.yml
  .github/workflows/README.md
  CONTRIBUTING.md
Labels: area:ci, area:docs, area:docs-only, doc

#374 ci: migrate CI to label-driven CI
  .github/workflows/build.yml
  .github/workflows/doc.yml
  .github/workflows/metadata.yml
Labels: ci, area:ci

#376 ci: do not filter CI by branches
  .github/workflows/build.yml
  .github/workflows/doc.yml
  .github/workflows/metadata.yml
Labels: ci, area:ci, area:docs

#341 feature: driver + example for HT16K33 LED driver
  README.md
  components/ht16k33/.eil.yml
  components/ht16k33/CMakeLists.txt
  components/ht16k33/LICENSE
  components/ht16k33/README.md
  components/ht16k33/component.mk
  components/ht16k33/ht16k33.c
  components/ht16k33/ht16k33.h
  devtools/README.md.erb
  devtools/persons.yml
  docs/source/chips.rst
  docs/source/groups/ht16k33.rst
  docs/source/index.rst
  examples/ht16k33/CMakeLists.txt
  examples/ht16k33/Makefile
  examples/ht16k33/README.md
  examples/ht16k33/main/CMakeLists.txt
  examples/ht16k33/main/Kconfig.projbuild
  examples/ht16k33/main/component.mk
  examples/ht16k33/main/main.c
  examples/ht16k33/sdkconfig.defaults
Labels: enhancement, area:docs, area:docs-only, area:components

#380 ci: trigger CI tests when "Label PR" completes
  .github/workflows/build.yml
  .github/workflows/doc.yml
  .github/workflows/metadata.yml
Labels: ci, area:ci

#382 ci: fix invalid javascript syntax
  .github/workflows/build.yml
  .github/workflows/doc.yml
  .github/workflows/metadata.yml
Labels: ci, area:ci

#384 ci: fix missing `)`
  .github/workflows/build.yml
  .github/workflows/doc.yml
  .github/workflows/metadata.yml
Labels: ci, area:ci

#386 ci: workaround empty pull_requests in workflow_run event
  .github/workflows/build.yml
  .github/workflows/doc.yml
  .github/workflows/labeler.yml
  .github/workflows/metadata.yml
Labels: ci, area:ci

#388 ci: use actions/download-artifact instead of actions/download-artifact
  .github/workflows/build.yml
  .github/workflows/doc.yml
  .github/workflows/metadata.yml
Labels: ci, area:ci

#390 ci: add missing version to `uses`
  .github/workflows/build.yml
  .github/workflows/doc.yml
  .github/workflows/metadata.yml
Labels: ci, area:ci

#392 ci: s/pull_request/pull_request.data/ in workflows
  .github/workflows/build.yml
  .github/workflows/doc.yml
  .github/workflows/metadata.yml
Labels: ci, area:ci

#395 ci: revert to pull_request-based CI
  .github/workflows/build.yml
  .github/workflows/doc.yml
  .github/workflows/labeler.yml
  .github/workflows/metadata.yml
Labels: ci, area:ci

#398 ci: document Personal Access Token for automation
  .github/workflows/README.md
  .github/workflows/actions-on-pr-by-label.yml
  .github/workflows/labeler-by-workflow-status.yml
  .github/workflows/labeler.yml
Labels: area:ci

#403 ci: udpate to esp-idf v4.3.3
  .github/workflows/build.yml
  components/led_strip_spi/led_strip_spi.c
Labels: ci, area:ci, area:components

#405 doc: fix max7219 group
  README.md
  components/max7219/.eil.yml
  docs/source/index.rst
Labels: bugfix, area:docs, area:docs-only
