Repository UncleRus/esp-idf-lib, pull requests merged in 2022-08, with the labels that each got.

#443 Fix #442
  components/bme680/bme680.c
  components/bmp180/bmp180.c
  components/bmp280/bmp280.c
  components/ccs811/ccs811.c
  components/hmc5883l/hmc5883l.c
  components/i2cdev/i2cdev.c
  components/mhz19b/mhz19b.c
  components/pca9685/pca9685.c
  components/rda5807m/rda5807m.c
  examples/bmp180/default/main/main.c
  examples/ds18x20/multi/main/main.c
  examples/ds18x20/single/main/main.c
  examples/encoder/default/main/main.c
  examples/hd44780/default/main/main.c
  examples/hd44780/i2c/main/main.c
  examples/hdc1000/default/main/main.c
  examples/hx711/default/main/main.c
  examples/ina3221/default/main/main.c
  examples/ls7366r/default/main/main.c
  examples/mcp23x17/mcp23s17/main/main.c
  examples/ms5611/default/main/main.c
  examples/rda5807m/default/main/main.c
  examples/sgp40/default/main/main.c
  examples/si7021/default/main/main.c
  examples/tca9548/default/main/main.c
  examples/tsl2561/default/main/main.c
  examples/tsys01/default/main/main.c
Labels: bugfix, area:components, ci/Build examples/failure, area:components:mcp23x17, area:components:i2cdev, area:components:hd44780, area:components:ls7366r, area:components:bmp180, area:components:tca9548, area:components:hmc5883l, area:components:bme680, area:components:bmp280, area:components:ccs811, area:components:ds18x20, area:components:encoder, area:components:hdc1000, area:components:hx711, area:components:ina3221, area:components:mhz19b, area:components:ms5611, area:components:pca9685, area:components:rda5807m, area:components:sgp40, area:components:si7021, area:components:tsl2561, area:components:tsys01

#446 ci: fix components list generating (fix #444)
  .github/workflows/build.yml
Labels: bugfix, area:ci

#445 Fix printf() format in examples and components
  components/bmp180/bmp180.c
  components/hmc5883l/hmc5883l.c
  components/pca9685/pca9685.c
  components/rda5807m/rda5807m.c
  examples/ds18x20/multi/main/main.c
  examples/ina3221/default/main/main.c
  examples/ls7366r/default/main/main.c
  examples/mcp23x17/mcp23s17/main/main.c
  examples/ms5611/default/main/main.c
  examples/sgp40/default/main/main.c
Labels: bugfix, area:components, area:components:mcp23x17, area:components:ls7366r, area:components:bmp180, area:components:hmc5883l, area:components:ds18x20, area:components:ina3221, area:components:ms5611, area:components:pca9685, area:components:rda5807m, area:components:sgp40

#447 Added ds3231_get_squarewave_freq
  components/ds3231/ds3231.c
  components/ds3231/ds3231.h
Labels: area:components, area:components:ds3231

#448 ci: update esp-idf to 4.4.2
  .github/workflows/build.yml
Labels: ci, area:ci
