Repository UncleRus/esp-idf-lib, pull requests merged in 2022-07, with the labels that each got.

#408 ci: fix invalid syntax in a workflow
  .github/workflows/actions-on-pr-by-label.yml
Labels: ci, area:ci

#409 ci: update actions/checkout to v2
  .github/workflows/doc.yml
Labels: ci, area:ci

#413 ci: fix permissions in actions-on-pr-by-label.yml
  .github/workflows/actions-on-pr-by-label.yml
Labels: ci, area:ci

#419 ads111x: fix #418
  components/ads111x/ads111x.c
Labels: bugfix, area:components, area:components:ads111x

#421 Add clang-format options file
  .clang-format
Labels: bugfix

#422 fix lost 0.8.3 changelog
  CHANGELOG.md
Labels: bugfix, area:docs, area:docs-only

#423 ci: fix miscellaneous bugs in the CI
  .github/workflows/build.yml
Labels: ci, area:ci

#424 tca9548: add example
  examples/bmp180/multi_i2c_switch
  examples/tca9548/default/CMakeLists.txt
  examples/tca9548/default/Makefile
  examples/tca9548/default/README.md
  examples/tca9548/default/main/Kconfig.projbuild
  examples/tca9548/default/main/main.c
  examples/tca9548/default/main/my_local_header.h
  examples/tca9548/default/sdkconfig.defaults
  examples/tca9548/default/sdkconfig.defaults.esp8266
Labels: bugfix, area:components:bmp180, area:components:tca9548

#425 tca9548: fix README in example
  examples/tca9548/default/README.md
Labels: bugfix, area:components:tca9548

#428 porting i2c libs
  FAQ.md
  docs/porting.md
Labels: area:docs, area:docs-only

#430 i2cdev: fix #429
  components/i2cdev/i2cdev.c
Labels: bugfix, area:components, area:components:i2cdev

#435 chore: update io-console
  CONTRIBUTING.md
  Gemfile
  Gemfile.lock
Labels: chore, area:docs, area:docs-only

#433 feature: lc709203f driver + example
  .github/labeler.yml
  .gitignore
  README.md
  components/lc709203f/.eil.yml
  components/lc709203f/CMakeLists.txt
  components/lc709203f/LICENSE
  components/lc709203f/component.mk
  components/lc709203f/lc709203f.c
  components/lc709203f/lc709203f.h
  docs/source/chips.rst
  docs/source/groups/lc709203f.rst
  docs/source/index.rst
  examples/lc709203f/default/CMakeLists.txt
  examples/lc709203f/default/Makefile
  examples/lc709203f/default/README.md
  examples/lc709203f/default/main/CMakeLists.txt
  examples/lc709203f/default/main/Kconfig.projbuild
  examples/lc709203f/default/main/component.mk
  examples/lc709203f/default/main/main.c
Labels: area:ci, area:docs, area:components

#437 chore: fix ident in extern block in .clang-format
  .clang-format
Labels: bugfix

#439 doc: reorder Usages of metadata in the project section
  Metadata.md
Labels: area:docs, area:docs-only, doc

#431 hmc5983: added 220 Hz data rate option
  README.md
  components/hmc5883l/.eil.yml
  components/hmc5883l/hmc5883l.c
  components/hmc5883l/hmc5883l.h
  docs/source/chips.rst
  docs/source/groups/hmc5883l.rst
Labels: area:docs, area:docs-only, area:components, area:components:hmc5883l
