Repository UncleRus/esp-idf-lib, pull requests merged in 2022-11, with the labels that each got.

#463 feat: DPS310 driver
  .github/labeler.yml
  .gitignore
  README.md
  components/dps310/.eil.yml
  components/dps310/CMakeLists.txt
  components/dps310/Kconfig
  components/dps310/LICENSE
  components/dps310/component.mk
  components/dps310/include/dps310.h
  components/dps310/priv_include/helper_i2c.h
  components/dps310/priv_include/helper_macro.h
  components/dps310/src/dps310.c
  components/dps310/src/helper_i2c.c
  docs/source/chips.rst
  docs/source/groups/dps310.rst
  docs/source/index.rst
  examples/dps310/default/CMakeLists.txt
  examples/dps310/default/Makefile
  examples/dps310/default/README.md
  examples/dps310/default/main/CMakeLists.txt
  examples/dps310/default/main/Kconfig.projbuild
  examples/dps310/default/main/component.mk
  examples/dps310/default/main/main.c
  examples/dps310/default/sdkconfig.defaults
  examples/dps310/default/sdkconfig.defaults.esp8266
Labels: enhancement, area:ci, area:docs, area:components

#471 Fix max7219 string bounds check
  components/max7219/max7219.c
Labels: area:components, area:components:max7219

#469 feat: implement background mode in dps310
  components/dps310/include/dps310.h
  components/dps310/src/dps310.c
  components/dps310/src/helper_i2c.c
  examples/dps310/altitude/CMakeLists.txt
  examples/dps310/altitude/Makefile
  examples/dps310/altitude/README.md
  examples/dps310/altitude/main/CMakeLists.txt
  examples/dps310/altitude/main/Kconfig.projbuild
  examples/dps310/altitude/main/component.mk
  examples/dps310/altitude/main/main.c
  examples/dps310/altitude/sdkconfig.defaults.esp8266
  examples/dps310/background/CMakeLists.txt
  examples/dps310/background/Makefile
  examples/dps310/background/README.md
  examples/dps310/background/main/CMakeLists.txt
  examples/dps310/background/main/Kconfig.projbuild
  examples/dps310/background/main/component.mk
  examples/dps310/background/main/main.c
  examples/dps310/background/sdkconfig.defaults.esp8266
  examples/dps310/default/main/main.c
Labels: enhancement, area:components, area:components:dps310

#476 ci: update actions/checkout to v3
  .github/workflows/README.md
  .github/workflows/action-check-components-and-examples.yml
  .github/workflows/action-check-components-label.yml
  .github/workflows/build.yml
  .github/workflows/doc.yml
  .github/workflows/labeler.yml
  .github/workflows/metadata.yml
Labels: bugfix, area:ci

#479 bugfix: fix ets_sys.h error
  components/esp_idf_lib_helpers/ets_sys.h
Labels: area:components, area:components:esp_idf_lib_helpers

#478 improved example for ads130e08
  examples/ads130e08/default/main/main.c
Labels: area:components:ads130e08

#475 i2cdev: Fix i2c param config and driver install order for esp32 target
  components/i2cdev/i2cdev.c
Labels: area:components, area:components:i2cdev
