Repository UncleRus/esp-idf-lib, pull requests merged in 2023-07, with the labels that each got.

#532 Feature sts3x driver
  .github/labeler.yml
  README.md
  components/sts3x/.eil.yml
  components/sts3x/CMakeLists.txt
  components/sts3x/LICENSE
  components/sts3x/README.md
  components/sts3x/component.mk
  components/sts3x/sts3x.c
  components/sts3x/sts3x.h
  docs/source/chips.rst
  docs/source/groups/sts3x.rst
  examples/sts3x/default/CMakeLists.txt
  examples/sts3x/default/Makefile
  examples/sts3x/default/README.md
  examples/sts3x/default/main/CMakeLists.txt
  examples/sts3x/default/main/Kconfig.projbuild
  examples/sts3x/default/main/component.mk
  examples/sts3x/default/main/main.c
  examples/sts3x/default/sdkconfig.defaults.esp8266
Labels: enhancement, area:ci, area:docs, area:components

#534 fix: wrong resolution divider
  components/veml7700/veml7700.c
Labels: bugfix, area:components, area:components:veml7700

#536 Update function name in mcp23x17.c to match the one in the header
  components/mcp23x17/mcp23x17.c
Labels: area:components, area:components:mcp23x17

#537 sts3x driver implementation
  .github/labeler.yml
  README.md
  components/sts3x/.eil.yml
  components/sts3x/CMakeLists.txt
  components/sts3x/LICENSE
  components/sts3x/README.md
  components/sts3x/component.mk
  components/sts3x/sts3x.c
  components/sts3x/sts3x.h
  docs/source/chips.rst
  docs/source/groups/sts3x.rst
  docs/source/index.rst
  examples/sts3x/default/CMakeLists.txt
  examples/sts3x/default/Makefile
  examples/sts3x/default/README.md
  examples/sts3x/default/main/CMakeLists.txt
  examples/sts3x/default/main/Kconfig.projbuild
  examples/sts3x/default/main/component.mk
  examples/sts3x/default/main/main.c
  examples/sts3x/default/sdkconfig.defaults.esp8266
Labels: enhancement, area:ci, area:docs, area:components

#455 Feature implement mpu6050
  .clang-format
  .github/labeler.yml
  .gitignore
  README.md
  components/mpu6050/.eil.yml
  components/mpu6050/CMakeLists.txt
  components/mpu6050/Kconfig
  components/mpu6050/LICENSE
  components/mpu6050/README.md
  components/mpu6050/component.mk
  components/mpu6050/mpu6050.c
  components/mpu6050/mpu6050.h
  components/mpu6050/mpu6050_regs.h
  docs/source/chips.rst
  docs/source/groups/mpu6050.rst
  docs/source/index.rst
  examples/mpu6050/default/CMakeLists.txt
  examples/mpu6050/default/Makefile
  examples/mpu6050/default/README.md
  examples/mpu6050/default/main/CMakeLists.txt
  examples/mpu6050/default/main/Kconfig.projbuild
  examples/mpu6050/default/main/component.mk
  examples/mpu6050/default/main/main.c
  examples/mpu6050/default/sdkconfig.defaults.esp8266
Labels: enhancement, area:ci, area:docs, area:components

#541 fix: add sensor init to default tsl2591 example
  components/tsl2591/tsl2591.c
  components/tsl2591/tsl2591.h
  examples/tsl2591/default/main/main.c
Labels: area:components, area:components:tsl2591

#544 fix: remove unused readme for max1704x
  components/max1704x/README.md
Labels: area:components, area:components:max1704x
