Repository UncleRus/esp-idf-lib, pull requests merged in 2023-06, with the labels that each got.

#508 Driver+example for AM2320 (I2C mode)
  .github/labeler.yml
  README.md
  components/am2320/.eil.yml
  components/am2320/CMakeLists.txt
  components/am2320/LICENSE
  components/am2320/am2320.c
  components/am2320/am2320.h
  components/am2320/component.mk
  docs/source/chips.rst
  docs/source/groups/am2320.rst
  docs/source/index.rst
  examples/am2320/default/CMakeLists.txt
  examples/am2320/default/Makefile
  examples/am2320/default/README.md
  examples/am2320/default/main/CMakeLists.txt
  examples/am2320/default/main/Kconfig.projbuild
  examples/am2320/default/main/component.mk
  examples/am2320/default/main/main.c
  examples/am2320/default/sdkconfig.defaults.esp8266
  examples/ls7366r/default/main/main.c
Labels: enhancement, area:ci, area:docs, area:components, area:components:ls7366r, area:components:ads130e08

#526 Encoder: properly configure pin when using BTN_PRESSED_LEVEL = 1
  components/encoder/encoder.c
Labels: area:components, area:components:encoder

#524 Fixes #512
  components/esp_idf_lib_helpers/esp_idf_lib_helpers.h
Labels: area:components, area:components:esp_idf_lib_helpers

#527 bugfix: fixes #506
  components/si7021/si7021.c
  components/si7021/si7021.h
Labels: area:components, area:components:si7021

#528 feature: update changelog
  CHANGELOG.md
Labels: area:docs, area:docs-only

#511 sgm58031: add component + examples
  .github/labeler.yml
  README.md
  components/sgm58031/.eil.yml
  components/sgm58031/CMakeLists.txt
  components/sgm58031/LICENSE
  components/sgm58031/component.mk
  components/sgm58031/sgm58031.c
  components/sgm58031/sgm58031.h
  docs/source/chips.rst
  docs/source/groups/sgm58031.rst
  docs/source/index.rst
  examples/ads111x/default/main/main.c
  examples/sgm58031/default/CMakeLists.txt
  examples/sgm58031/default/Makefile
  examples/sgm58031/default/README.md
  examples/sgm58031/default/main/CMakeLists.txt
  examples/sgm58031/default/main/Kconfig.projbuild
  examples/sgm58031/default/main/component.mk
  examples/sgm58031/default/main/main.c
  examples/sgm58031/single-shot/CMakeLists.txt
  examples/sgm58031/single-shot/Makefile
  examples/sgm58031/single-shot/README.md
  examples/sgm58031/single-shot/main/CMakeLists.txt
  examples/sgm58031/single-shot/main/Kconfig.projbuild
  examples/sgm58031/single-shot/main/component.mk
  examples/sgm58031/single-shot/main/main.c
Labels: enhancement, area:ci, area:docs, area:components, area:components:ads111x

#529 fix: fix section in docs for max7219
  docs/source/index.rst
Labels: area:docs, area:docs-only
